body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
.top {
    height: 85vh;
    display: flex;
}
.bottom {
    height: 15vh;
    background: linear-gradient(60deg, black, #00262a);
    display: flex;
    color: white;
    justify-content: space-around;
}

.top-right {
    padding: 25px;
    width: 70%;
    overflow: auto;
    background: radial-gradient(circle, #00262a, #000000);
    color: white;
}
img.crnt-card-big {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px #00927c;
}
.top-left {
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #2f2f2f;
    background: linear-gradient(260deg, #000000, #00262a);
}
h2.crnt-song-big {
    margin: 4vh 2vh 2vh;
    font-size: 28px;
    text-align: center;
}
h4.crnt-artist-big {
    margin: 0 2vw 4vh;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.seekbar-container-big {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.seekbar-big {
    width: 250px;
    height: 6px;
    border-radius: 2px;
    background: #939393;
}
.fill-seekbar-big {
    height: 6px;
    box-shadow: -1px 0px 4px 0px #00b7a5;
    background: #00af95;
}
h4.total-time-big {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
}
h4.remain-time-big {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}
.controller-big {
    display: flex;
    gap: 5px;
    margin: 15px 0;
    align-items: center;
}
button.next-big {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}
img.next-big-img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}
button.prev-big {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}
img.prev-big-img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}
button.play-big {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}
img.play-big-img {
    width: 35px;
    height: 35px;
    border-radius: 5%;
    filter: invert(1);
}

h2.Album-heading {
    margin: 20px 22px;
    font-size: 4vh;
}
.album-card-container {
    display: flex;
    flex-wrap: wrap;
}
.album-card {
    width: 170px;
    height: 27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img.album-img {
    height: 140px;
    width: 140px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 0px 0px 6px 2px black;
}
h4.album-name {
    font-size: 15px;
    margin: 10px 14px;
    text-align: center;
}
img.bottom-img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 0px black;
}
.bottom-song-card {
    display: flex;
    gap: 2vw;
    align-items: center;
}
h3.songname {
    margin: 0;
    font-size: 20px;
}
h4.songartist {
    margin: 10px 0 0;
    font-size: 15px;
    font-weight: 400;
}
.seekbar-controller {
    display: flex;
    align-items: center;
    gap: 15px;
}
.volume {
    display: flex;
    align-items: center;
    gap: 5px;
}
img.vol-img {
    filter: invert(1);
}

input.vol-range {
    -webkit-appearance: none;
    height: 4px;
    border-radius: 2px;
    width: 12vw;
    background: rgb(95, 95, 95);
}
.vol-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #00af95;
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px #00af95;
}
.volume-mobile{
    display: none;
}
#song-msg{
  color: red;
  font-size: 16px;
  margin-top: 8px;
  font-weight: 200;
}


@media (max-width:1100px) {
   
.top-right {
    padding: 25px;
    width: 60%;
    overflow: auto;
    background: radial-gradient(circle, #00262a, #000000);
    color: white;
}
.top-left{
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #2f2f2f;
    background: linear-gradient(260deg, #000000, #00262a);
}
img.crnt-card-big {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px #00927c;
}
.seekbar-big {
    width: 200px;
    height: 6px;
    border-radius: 2px;
    background: #939393;
}
h4.remain-time-big {
    font-size: 15px;
    font-weight: 300;
    margin: 0;
}
h4.total-time-big {
    font-size: 15px;
    margin: 0;
    font-weight: 300;
}
img.album-img {
    height: 120px;
    width: 120px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 0px 0px 6px 2px black;
}
img.bottom-img {
    height: 65px;
    width: 65px;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 0px black;
}
input.vol-range {
    -webkit-appearance: none;
    height: 4px;
    border-radius: 2px;
    width: 10vw;
    background: rgb(95, 95, 95);
}
.album-card {
    width: 150px;
    height: 24vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
img.play-big-img {
    width: 30px;
    height: 30px;
    border-radius: 5%;
    filter: invert(1);
}
img.next-big-img {
    width: 25px;
    height: 25px;
    filter: invert(1);
}
img.prev-big-img {
    width: 25px;
    height: 25px;
    filter: invert(1);
}
h4.songartist {
    margin: 7px 0 0;
    font-size: 10px;
    font-weight: 400;
}
h3.songname {
    margin: 0;
    font-size: 15px;
}
h2.crnt-song-big {
    margin: 4vh 2vh 2vh;
    font-size: 23px;
    text-align: center;
}
h4.crnt-artist-big {
    margin: 0 2vw 4vh;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
}


@media (max-width: 699px) and (min-height:300px) {
.bottom {
    display: none;
}
.top {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top-left {
    width: 100%;
    height: 70vh;
}
img.crnt-card-big {
    height: 180px;
    width: 180px;
}
h2.crnt-song-big {
    margin: 2vh 2vh 1vh;
    font-size: 22px;
    text-align: center;
}
.top-right {
    padding: 5px;
    width: 100%;
    height: 30vh;
}
h2.Album-heading {
    margin: 10px 15px;
    font-size: 20px;
}
img.album-img {
    height: 95px;
    width: 95px;
}
.album-card {
    width: 120px;
    height: 18vh;
}
.volume-mobile {
    display: flex;
    align-items: center;
}
.vol-input-mobile{
    width: 20vw;
    margin: 0 5px;
    -webkit-appearance: none;
    height: 4px;
    border-radius: 2px;
    background: rgb(95, 95, 95);
}
.vol-img-mobile{
   filter: invert(1); 
}
.vol-input-mobile::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #00af95;
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px #00af95;
}
}